/**
 * Tailwind Theme Configuration
 * Custom variants, theme definitions, and CSS variables
 */

@theme {
  --font-sans: 'Lexend', 'Alexandria', system-ui, -apple-system, sans-serif;
}

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --cell-size: 2rem;
  --background: oklch(100% 0 0);
  --foreground: oklch(45% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.5% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(14.5% 0 0);
  --primary: var(--brand-primary);
  --primary-foreground: var(--brand-primary-foreground);
  --secondary: var(--brand-neutral);
  --secondary-foreground: var(--brand-neutral-foreground);
  --tertiary: var(--brand-tertiary);
  --tertiary-foreground: var(--brand-tertiary-foreground);
  --muted: oklch(97% 0 0);
  --muted-foreground: oklch(55.6% 0 0);
  --accent: oklch(97% 0 0);
  --accent-foreground: oklch(20.5% 0 0);
  --destructive: oklch(58% 0.2 25.9);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(92.2% 0 0);
  --input: oklch(92.2% 0 0);
  --ring: oklch(70.8% 0 0);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: oklch(0.3152 0.0531 190.95);
  --sidebar-foreground: oklch(14.5% 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--primary-);
  --sidebar-accent-foreground: var(--primary-foreground);
  --sidebar-border: oklch(92.2% 0 0 / 0.4);
  --sidebar-ring: oklch(70.8% 0 0);
  --sidebar-width: 16rem;
  --sidebar-width-mobile: 14rem;
  --sidebar-width-icon: 3rem;
  --surface: oklch(98% 0 0);
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(96% 0 0);
  --code-number: oklch(56% 0 0);
  --selection: oklch(14.5% 0 0);
  --selection-foreground: oklch(100% 0 0);

  --brand-primary: oklch(36.170% 0.05880 194.899);
  --brand-primary-foreground: oklch(100% 0 0);
  --brand-primary-dark: oklch(22.5% 0.045 195);
  --brand-primary-dark-foreground: oklch(100% 0 0);
  --brand-secondary: oklch(58.464% 0.20561 28.903);
  --brand-secondary-foreground: oklch(100% 0 0);
  --brand-tertiary: oklch(66.130% 0.11342 192.543);
  --brand-tertiary-foreground: oklch(14.5% 0 0);
  --brand-neutral: oklch(92.748% 0.00181 248.522);
  --brand-neutral-foreground: oklch(14.5% 0 0);

  --brand-gradient-1: linear-gradient(90deg,oklch(36.170% 0.05880 194.899), oklch(66.130% 0.11342 192.543));
  --brand-gradient-2: linear-gradient(-90deg, oklch(36.170% 0.05880 194.899), oklch(22.5% 0.045 195));
  --brand-gradient-3: linear-gradient(30deg, oklch(0.367 0.062 193.2) 40%, oklch(30.228% 0.04979 194.881) );
}

.dark {
  --background: oklch(0.18 0.01 258.39);
  --foreground: var(--brand-neutral);
  --card: oklch(21.634% 0.01334 258.401);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(0.18 0.01 258.39);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: oklch(0.55 0.08 194.99);
  --primary-foreground: var(--brand-secondary-foreground);
  --secondary: var(--brand-neutral);
  --secondary-foreground: var(--brand-neutral-foreground);
  --tertiary: var(--brand-tertiary);
  --tertiary-foreground: var(--brand-tertiary-foreground);
  --muted: oklch(26% 0.01 248);
  --muted-foreground: oklch(70.8% 0 0);
  --accent: oklch(0.22 0.02 255.74);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(70.4% 0.191 22.216);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(100% 0 0/0.1);
  --input: oklch(100% 0 0/0.15);
  --ring: oklch(55.6% 0 0);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: oklch(0.3152 0.0531 190.95);
  --sidebar-foreground: oklch(98.5% 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--primary);
  --sidebar-accent-foreground: var(--primary-foreground);
  --sidebar-border: oklch(100% 0 0/0.1);
  --sidebar-ring: oklch(43.9% 0 0);
  --sidebar-width: 16rem;
  --sidebar-width-mobile: 14rem;
  --sidebar-width-icon: 3rem;
  --surface: oklch(20% 0 0);
  --surface-foreground: oklch(70.8% 0 0);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(27% 0 0);
  --code-number: oklch(72% 0 0);
  --selection: oklch(92.2% 0 0);
  --selection-foreground: oklch(20.5% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --cell-size: var(--cell-size);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--color-brand-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--color-brand-secondary);
  --color-sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --spacing-sidebar-width: var(--sidebar-width);
  --spacing-sidebar-width-mobile: var(--sidebar-width-mobile);
  --spacing-sidebar-width-icon: 3rem;
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-primary-foreground: var(--brand-primary-foreground);
  --color-brand-primary-dark: var(--brand-primary-dark);
  --color-brand-primary-dark-foreground: var(--brand-primary-dark-foreground);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-secondary-foreground: var(--brand-secondary-foreground);
  --color-brand-tertiary: var(--brand-tertiary);
  --color-brand-tertiary-foreground: var(--brand-tertiary-foreground);
  --color-brand-neutral: var(--brand-neutral);
  --color-brand-neutral-foreground: var(--brand-neutral-foreground);

  --brand-gradient-1: var(--brand-gradient-1);
  --brand-gradient-2: var(--brand-gradient-2);
}
